In [ ]:
number = 1

while number <= 3:
    print(number)
    number += 1

In [ ]:
num = 1

while num <= 10:
    print("파이썬 최고!!")
    num += 1

In [ ]:
while True:
    print("무한루프!!")
    break

In [ ]:
number = 1
while True:
    print(number)
    number += 1
    if number > 3: # 처음실행하면 넘버(2)가 3보다 작은데 크다고 하니 거짓, 브레이크 하지 않고 위로 돌아감 
        break

In [ ]:
num = 1
while num <= 10:
    print(f"{num}번째 반복중..")
    if num >= 4:
        print("여기서 부터는 num이 증가하지 않습니당 ㅠㅠ")
        break # 밑 코드는 실행하지 않고 반복문 첫번째로 돌아가게 한다.
    num += 1

In [ ]:

while True:
    name = input("이름 입력 >> ")
    if name == "최성우":
        print(f"{name} 멋지다!")
        break  # 순서가 중요!!
    
    print(f"{name} 최고!") # 브레이크 안에 들어가게 되면 프린트문이 두개 동시 출력된다.포함범위도 중요!

In [ ]:
while True: # 이름이 들어갔을 때 조건이 맞으면 종료되면 되기 때문에 따로 조건을 넣을 필요없다.
    name = input("이름 입력 >> ")
    if name == "최성우":
        print(f"{name} 멋지다!")

In [ ]:
while True :
    num1 = int(input("첫 번째 정수 입력 >> "))
    num2 = int(input("두 번째 정수 입력 >> "))
    
    if num1 == 0 and num2 == 0:
        print("프로그램이 종료되었습니다.")  
        break
    print(f"두 정수의 합 : {num1 + num2}") # 애도 반복문 안에 있기 때문에 위에 브레이크 작동하면 실행않고 종료된다.

In [ ]:
cur_weight = int(input("현재 몸무게 : "))
goal_weight = int(input("목표 몸무게 : "))
num = 1

while cur_weight >= goal_weight: # 현재가 목표보다 클 경우 반복(감량을 반복) 실행
    week_weight = int(input(f"{num}주차 감량 몸무게 : "))
    num += 1
    cur_weight -= week_weight
print(f"{cur_weight}kg 달성하셨습니다! ")

## 반복되야하는 조건은?
현재몸무게와 목표몸무게는 반복필요없음
(현재 몸무게 - 1주차 감량몸무게) 가 목표몸무게 이하일 경우 종료

각 주차별 몸무게를 입력해서 (현재 몸무게 - 1주차 감량몸무게)가 목표 이하가 되도록 식을 세운다.

반복은 주차별 몸무게 입력 - 현재몸무게에서 빼기 - 누적되서 다음 주차 몸무게 입력 -

In [ ]:
import random
random.randint(1, 50)

In [ ]:
num = random.randint(1, 50)

while True:
    a = int(input("숫자를 입력하세요 >> "))
    if num != a
        if num < a:
            print(f"{a}보다 작은 수 입니다.")
        elif num > a:
            print(f"{a}보다 큰 수 입니다.")
        
    else :
        print("정답을 맞추셨습니다.")
        break

In [ ]:
num = random.randint(1, 50)

while True:
    a = int(input("숫자를 입력하세요 >> "))
    
    if num > a :
        print(f"{a}보다 큰 수 입니다.")
    elif num < a :
        print(f"{a}보다 작은 수 입니다.")
    else :
        print("정답을 맞추셨습니다.")
        break

In [ ]:
list_food = ['양꼬치', '닭갈비', '순대국밥']

for food in list_food[2]:
    print(food)

In [ ]:
hi = "안녕하세요"

for s in hi:
    print(s)

In [ ]:
tuple_food = ("버거킹", "맥도날드", "롯데리아")
for food in tuple_food:
    print(food)

In [ ]:
score_list = [90, 45, 70, 60, 55]

n = 0
for score in score_list:
    n += 1
    if score >= 60:
        print(f"{n}번 학생은 합격입니다.")
    else:
        print(f"{n}번 학생은 불합격입니다.")
    n += 1

In [ ]:
python_score = [57, 86, 63, 92, 35, 79]

n = 1

for i in python_score:
    
    if i >= 80:
        print(f"{n}번은 {i}점 이며, A등급 입니다.")
    elif i >= 60:
        print(f"{n}번은 {i}점 이며, B등급 입니다.")
    elif i < 60:
        print(f"{n}번은 {i}점 이며, C등급 입니다.")
        
    n += 1

In [ ]:
python_score = [57, 86, 63, 92, 35, 79]

n = 0

for i in python_score:
    
    if i >= 80:
        grade = "A"
    elif i >= 60:
        grade = "B"
    elif i < 60:
        grade = "C"    
   
    n += 1   
    print(f"{n}번은 {i}점 이며, {grade}등급 입니다.")

In [ ]:
for i in range(10, 1, -1): # 원하는 횟수만큼 반복할 수 있다.
    print(i, end = "\t")

In [ ]:
for i in range(98, 76, -1):
    print(i, end=" ")

In [ ]:
for i in range(23, 40, 1):
    print(i, end=" ")

In [ ]:
for i in range(2, 101, 2):
    print(i, end=" ")

In [ ]:
for i in range(3, 100, 3):
    print(i, end=" ")

In [ ]:
list1 = [[1, 2], [3, 4], [5, 6]]
for i, j in list1:
    print(i, j)

In [ ]:
a, b = 1, 7
print(a)
print(b)

In [ ]:
list2 = [4, 5, 2, 1, 99, 15, 2, 7, 27]

max_num = list2[0] # 변수를 인덱스로 설정하는 방법!

for i in list2:
    if i > max_num:
        max_num = i
print(max_num)

In [ ]:
list2 = [4, 5, 2, 1, 99, 15, 2, 7, 27]

min_num = list2[0] 

for i in list2:
    if i < min_num:
        min_num = i
print(min_num)

In [ ]:
marks = [90, 25, 67, 45, 80]

number = 0
for mark in marks:
    number = number + 1
    if mark < 60: continue
    print("%d번 학생 축하합니다. 합격입니다."% number)

In [ ]:
a = 0

for i in range(3, 101, 3):
    a = a + i
print(a)

In [ ]:

for i in range(1, 10):
    print(f"2 * {i} = {2*i}") # 구구단에서 고정되는 값이 무엇인지 확인하면 답이 나온다.
    
for i in range(1, 10):
    print(f"3 * {i} = {3*i}")

In [ ]:
total = 0
for i in range(0, 100, 3):
    total += i
print(total)

In [ ]:
num = int(input("정수 입력 >> "))

for i in num:
    if i % num == 0:
        print(f"{num}의 약수 : ")

In [ ]:
num = int(input("정수 입력 >> "))

print(f"{num}의 약수 : ")
for i in range(1, num+1):
    
    if num % i == 0:        
        print(i, end=' ')

In [ ]:
num = int(input("정수 입력 >> "))

print(f"{num}의 약수 : ", end='')
for i in range(1, num+1, 1): # 모든 약수는 1과 본인을 포함함.
    if num % i == 0:
        print(i, end=' ')

In [ ]:
for i in range(1, 7):
    print(i*"*")

In [ ]:
num = int(input("줄 수 입력 >> "))
for i in range(1, num+1):
    print(i*"*")

In [ ]:
num = int(input("줄 수 입력 >> "))
for i in range(1, num+1):
    print(i*"*")
for i in range(num-1, 0, -1):
    print(i*"*")

In [ ]:
start = int(input("첫 번째 정수 입력 >> "))
end = int(input("두 번째 정수 입력 >> "))

for i in range(start, end+1, 1):
    print(i, end=" ")

In [ ]:
num1 = int(input("첫 번째 정수 입력 >> "))
num2 = int(input("두 번째 정수 입력 >> "))
num3 = int(input("배수 입력 >> "))

total = 0

for i in range(num1, num2+1):
    if i % num3 == 0:
        total += i
    
print(f"{num3}의 배수의 합 : {total}")

In [ ]:
s = ".nohtyp deen uoY ,trohs oot si efiL"
reverse_s = ''

for i in s:
    reverse_s = i + reverse_s
print(reverse_s, end=' ')

In [10]:
s = ".nohtyp deen uoY ,trohs oot si efiL"
reverse_s = ''

for i in s:
    reverse_s =  i + reverse_s
print(reverse_s, end=' ')

Life is too short, You need python.

In [8]:
s = ".nohtyp deen uoY ,trohs oot si efiL"

for i in range(len(s)-1, -1, -1):
    print(s[i], end='')

Life is too short, You need python.

In [ ]:
s = ".nohtyp deen uoY ,trohs oot si efiL"

for i in range(-1, -len(s)-1, -1):
    print(s[i], end='')

In [ ]:
for i in range(1, 10):
    print(f"2 * {i} = {2*i}", end="  ")

In [ ]:
for i in range(2, 10):
    for j in range(1, 10):
        print(f"{i}*{j}={i*j}\t", end="") # 한줄로 길게 나온다.
    print() # i에서 행을 바꾸기 위해 빈 프린트를 쓴다. 프린트문 자체가 하나의 행을 가진다.

In [6]:
# 구구단(세로)
for i in range(1, 10):
    for j in range(2, 10):
        print(f"{j}*{i}={j*i}\t", end='') 
    print()

2*1=2	3*1=3	4*1=4	5*1=5	6*1=6	7*1=7	8*1=8	9*1=9
2*2=4	3*2=6	4*2=8	5*2=10	6*2=12	7*2=14	8*2=16	9*2=18
2*3=6	3*3=9	4*3=12	5*3=15	6*3=18	7*3=21	8*3=24	9*3=27
2*4=8	3*4=12	4*4=16	5*4=20	6*4=24	7*4=28	8*4=32	9*4=36
2*5=10	3*5=15	4*5=20	5*5=25	6*5=30	7*5=35	8*5=40	9*5=45
2*6=12	3*6=18	4*6=24	5*6=30	6*6=36	7*6=42	8*6=48	9*6=54
2*7=14	3*7=21	4*7=28	5*7=35	6*7=42	7*7=49	8*7=56	9*7=63
2*8=16	3*8=24	4*8=32	5*8=40	6*8=48	7*8=56	8*8=64	9*8=72
2*9=18	3*9=27	4*9=36	5*9=45	6*9=54	7*9=63	8*9=72	9*9=81

In [ ]:
list1 = [1, 30, 7, 9, 17, 3, 5, 23, 44, 32, 35]

# 나누었을때 나머지가 1또는0을 활용해서 

a = 0
b = 0

for i in list1:
    if i % 2 == 0:
        a += 1   
    else:
        b += 1
        
print(f"짝수 {a}개, 홀수 {b}개")

In [ ]:
# 정답을 입력한다.
#입력받은 정답이 o인지 아닌지 확인한다.
#정답이 0면 1점을 부과하고 아니면 0점을 부과한다.
#다음으로 입력받은 정답이 0인지 아닌지 확인한다.
#다음으로 입력받은 정답이 0면 이전 부과한 1점에 추가로 1점을 부과한다.
#다음으로 입력받은 정답이 0가 아니면 0점을 부과하고 끝낸다.
#이걸 입력받은 개수만큼 반복한다.
# 점수를 출력한다.

In [ ]:
score = input("OX입력 >> ")

a = 0

for i in score:
    if 'O' in score:
        a += 1
    elif score == 'X':
        a = 0
    #if score == 'O':
     #   a += 1
    #elif score == 'X':
      #  a = 0
            
print(f"{a}점")

In [7]:

score = 0
O_score = 0
OX = list(input("OX정답 입력 >> "))
for j in OX:
    if j == 'O':
        O_score += 1
        score += O_score
    else:
        O_score = 0

print(f"{score}점")

OX정답 입력 >> OXOO
4점

In [10]:
ox = input("OX입력 >> ")

score = 0
result = 0

for i in range(0, len(ox), 1):
    if ox[i] == 'O':
        score += 1
        result += score # result = result + score
    else:
        score = 0
        
print(f"{result}점")

OX입력 >> OXOXOXOX
4점

In [35]:
score_list = [["박매일", 89, 78, 99],
              ["김미희", 67, 88, 77],
              ["강예진", 100, 55, 96],
              ["최성우", 100, 100, 100]
             ]

# len(score_list) 개수를 구해서 평균을 구할수 있다.

In [20]:
# for i in score_list:
#    print(i[1]) # 이차원 리스트 인덱싱은 한번더 들어가줘야 한다.

89
67
100

In [36]:
 # 숙제문제 성적표 제작!
    
print("="*50)
print("이름\t", "Python\t", "Java\t", "DB\t", "평균\t", "학점")
print("="*50)

python, java, db = 0, 0, 0

for i in score_list:
    # 선생님별 평균
    avg = (i[1]+i[2]+i[3]) / 3
    # 과목별 평균
    avg_P, avg_J, avg_D = 0, 0, 0
    
    if avg >= 90 :
        grade = 'A'
    elif avg >= 80 :
        grade = 'B'
    elif avg >= 70 :
        grade = 'C'
    elif avg >= 60 :
        grade = 'D'
    else :
        grade = 'F'
    # 4 ~ 6번째 줄까지 출력    
    print(i[0], "\t", i[1], "\t", i[2], "\t", i[3], "\t", int(avg), "\t", grade)
    
    # 과목별 평균 구하기
    python += i[1] # 파이썬점수의 합
    java += i[2] # 자바점수의 합
    db += i[3] # 디비점수의 합
# 과목별 평균은 for문 밖으로 꺼내준다.    
avg_P = python / len(score_list)
avg_J = java / len(score_list)
avg_D = db / len(score_list)

print("="*50)

# 맨 마지막줄 출력

print("평균\t", int(avg_P), "\t", int(avg_J), "\t", int(avg_D))

==================================================
이름	 Python	 Java	 DB	 평균	 학점
==================================================
박매일 	 89 	 78 	 99 	 88 	 B
김미희 	 67 	 88 	 77 	 77 	 C
강예진 	 100 	 55 	 96 	 83 	 B
최성우 	 100 	 100 	 100 	 100 	 A
==================================================
평균	 89 	 80 	 93